body {
    padding: 0;
    margin: 15px;
    font-family: 'Hind','Open Sans', sans-serif;
    background-color: RGB(243, 242, 242);
    /* color: RGB(174, 144, 115); */
  }

  footer {
    font-size: 12px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-group-item{
 display: list-item;
}